{% extends "header.html" %}

{% block body %}

<body>
    <div class = "container">
        <h4>Add post</h4>
        <br>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/add-post/" enctype="multipart/form-data">
            <dl class="form-group">
                {{render_field(form.post_title, class_="form-control")}}
                {{render_field(form.post_text, class_="form-control")}}
                {{render_field(form.post_filename, class_="form-control-file")}}

            </dl>
                <button type="submit" class="btn btn-danger">Post</button>
        </form>
    </div>
        <br>
        {% if error %}
            <p class="error"><strong>Error:</strong>{{ error }}</p>
        {% endif %}

</body>

{% endblock %}
