{% extends "header.html" %}

{% block body %}

<body>
    <div class = "container">
        <h4>Add post</h4>
        <br>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/addpost/">
            <dl>
                {{render_field(form.post_title)}}
                {{render_field(form.post_text)}}
            </dl>
            <div>
        <label for="img">
            <span>Image</span>
            <input type="file" name="ImageFile" id="img">
        </label>
            </div>
            <input type=submit value=Post>
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}

</body>

{% endblock %}
