{% extends "header.html" %}

{% block body %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ABOUT" aria-controls="ABOUT" role="tab" data-toggle="tab">ABOUT</a></li>
    <li role="presentation"><a href="#CONTACT" aria-controls="CONTACT" role="tab" data-toggle="tab">CONTACT</a></li>
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="ABOUT" style="color:#ffffff">If you have ever wondered where to start when it comes to programming, this website will answer all of your questions. You are never too old or too young to start programming and it is not as hard as you think. Computer Programming is a subject that people are generally afraid of, the idea of typing in codes line after line sounds both boring and confusing, but the ability to create software is really fun and will give you a whole new view on how computers work. And hey, imagine going to a job interview and saying that you enjoy Computer Programming in your spare time! Being able to develop software is a skill that comes with great benefits and a skill that is actually not hard to learn. This website will provide you with free tutorials and resources that will teach you all of the skills that you need to know in order to be able to develop your own applications.
  There are thousands of websites on the internet that claim to help you start programming</div>

  <div role="tabpanel" class="tab-pane fade" id="CONTACT" style="color:#ffffff">
  <ul>
  	<li>Number: 380xxxxxxxx</li>
  	<li>Email: example@gmail.com</li>
  	{% for t in DICT["CONTACT"] %}
  		<li><a href="{{t[1]}}">{{t[0]}}</a></li>
  	{% endfor %}	
  </ul>
  </div>
  
</div>

</div>

{% endblock %}