<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>44EndWay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
  <div class="navbar-header">
      <a class="navbar-brand" href="/">
    <img style="max-width:120px; margin-top: -12px; margin-left: -15px" src="{{ url_for('static', filename='images/mainlogo.jpg') }}">
    </a>
    </div>

<div style="margin-bottom: -70px; ;" class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Explore <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/dashboard/">Info</a></li>
    <li><a href="/music/">Music</a></li>
    <li><a href="/news/">News</a></li>
  </ul>
</div>

  <ul class="nav navbar-nav navbar-right">
      
    <div style="margin-right: 10px;"  class="container-fluid">
    <h5>
      {% if session.logged_in %}
       <a href="/support-donate/"> <span class="glyphicon glyphicon-btc"></span> Support  </a>
  
       <a  href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout   </a>

       <a href="/addpost/"> <span class="glyphicon glyphicon-list"></span> Add new  </a>
      {% else %} 

      <a href="/support-donate/"> <span class="glyphicon glyphicon-btc"></span> Support  </a>
  
      <a  href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login   </a>

      <a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Sign up</a>
      {% endif %}
    </h5>
    
    </div>
      </ul>
  </ul>
  </div>

</header>

<body>

<div class="container" align="center" style="height:80%">
<a href="/dashboard/">
    <video autoplay="autoplay" muted="muted" poster="/static/videos/small.jpg" style="width:50%; max-height:30%;">
    <source src="/static/videos/444.mp4" type="video/mp4" type="video/mp4">
    <source src="/static/videos/444.ogv" type="video/ogv">
    </video>
    </a>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</div> 
</body>

</html>
