{% extends "header.html" %}

{% block body %}
<body>


<div class="container" align="center" style="margin-top: 35px;">

    <audio controls="controls" autoplay="autoplay"></audio>
    <ul>
      {% for song in songs %}
        <li><a href="javascript:void(0);" onclick="playSong('{{song}}')"></a>{{song}}</li>
      {% endfor %}
    </ul> 
    

  <script type="text/javascript">
    function playSong(song) {
      $('audio').attr('src', 'static/uploads/'+song);
    }
  </script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</div> 
</body>

{% endblock %}



